.content {
  display: none;
}

.btn-margin {
  margin-top: 7px
}

#login-view {
  display: none;
}

#loading {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

#upload-video-button {
display: none;
margin-bottom: 30px;
}
.btn-file {
position: relative;
overflow: hidden;
}
.btn-file input[type=file] {
position: absolute;
top: 0;
right: 0;
min-width: 100%;
min-height: 100%;
font-size: 100px;
text-align: right;
filter: alpha(opacity=0);
opacity: 0;
outline: none;
background: white;
cursor: inherit;
display: block;
}
#upload-progress {
display: none;
}
#video-list-container {
text-align: center;
padding: 30px 0 30px;
}
.progress {
background: #1a1a1a;
margin-top: 6px;
margin-bottom: 36px;
}
